body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.title-bar {
    font-size: 1.3em;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 1;
    /* Set higher z-index */
}

.title-bar-logo {
    margin-right: 70px;
    width: 100px;
    /* Adjust the logo width as needed */
    height: 30px;
    /* Adjust the logo height as needed */
}

.sidebar {
    /* Increase the font size */
    background-color: #333;
    /* Background color for the sidebar */
    color: #fff;
    /* Text color in the sidebar */
    width: 200px;
    /* Adjust the width as needed */
    height: 100vh;
    padding-top: 20px;
    padding-left: 20px;
    position: fixed;
    top: 50px;
    /* Adjust the top position based on title bar's height */
    bottom: 0;
    z-index: 0;
    left: 0;
}

.side-bar-hover:hover {
    background-color: #CB3421;
    color: white;
    padding: 5px;
    /* Add padding to increase hover area */
}

.sidebar i {
    margin-right: 10px;
}

.sidebar a {
    font-size: 1.1em;
    /* Increase the font size */
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    /* Add margin between links */
}

/* Submenu (hidden by default) */
.submenu {
    display: none;
    /*background-color: #444;*/
    /*margin-left: 15px;*/
}

.submenu a {
    padding-left: 15px;
    margin: 20px;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*font-size: 14px;*/
}

.submenu a:hover {
    padding: 10px;
    background-color: #555;
}

.content {
    margin-left: 200px;
    margin-top: 50px;
    /* Adjust the margin to accommodate the sidebar */
    padding: 20px;
    flex: 1;
}

/* Add styles for the footer */
.footer {
    font-size: 0.1em;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 0 auto;
    margin: 10px;
}

.card-body {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

.header {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.message {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Container for the textareas */
.textarea-container {
    width: 100%;
    /* Set the initial width of the container */
    /* margin: auto; */
    margin: 0;
    /* Set margin to 0 to left-align the container */
    text-align: left;
    /* Left-align content */
    max-height: 100px;
    /* Set maximum height */
    overflow-y: auto;
    /* Show vertical scrollbar when content overflows */
    /* Add box shadow */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    /* Modify values as needed */
}

/* Responsive textarea styles */
.responsive-textarea {
    width: 99%;
    /* Use 100% width relative to the container */
    height: 100%;
    /* Set the initial height */
    resize: vertical;
    /* Allow vertical resizing */
}

/* Container for the textareas full screen */
.textarea-fullscreen-container {
    /* Remove the width and margin */
    width: auto;
    margin: 0;
    text-align: left;
    /* Set maximum height */
    max-height: 90%;
    /* 100% of the viewport height */
    overflow-y: auto;
    /* Add box shadow */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    /* Modify values as needed */
}

/* CSS to maximize the textarea full screen*/
.responsive-fullscreen-textarea {
    width: 100%;
    height: 75vh;
    /* 80% of viewport height */
    resize: none;
    overflow-y: auto;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/* CSS for the MQTT log toggle*/
.sidebar-toggle {
    position: absolute;
    bottom: 1;
    height: 1;
    width: 5%;
    padding: 1px;
    background-color: #333;
}

#toggleFooterButton {
    /* Additional styling for the toggle footer button */
    color: white;
    background-color: #15151500;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
}

#toggleFooterButton:hover {
    background-color: #9F2816;
}

/* input file button style */
input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

/* button style */
input[type="button"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    font-size: 1em;
    transition-duration: 0.3s;
}

input[type="button"]:active {
    background-color: #0056b3;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

/* progress bar style */
#progress_info {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.fa-folder-open {
    font-size: 3em;
    cursor: pointer;
    border-left: 100%;
    border-right: 100%;
    padding: 10px;
}

.fa-folder-open:hover {
    color: white;
    background-color: #007bff;
}

/* Style for the on/off button and label */
.onoff-container {
    display: table-row;
    vertical-align: middle;
}

.onoff-label {
    font-size: 18px;
    margin-right: 10px;
}

.onoff-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.onoff-switch input[type="checkbox"] {
    display: none;
}

.onoff-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.onoff-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input[type="checkbox"]:checked+.onoff-slider {
    background-color: #2196F3;
}

input[type="checkbox"]:checked+.onoff-slider:before {
    transform: translateX(26px);
}

.btn-primary {
    background-color: #ffffff;
    /* white background */
    border-color: #007bff;
    color: #000000;
    /* black text */
    border-radius: 5px;
    /* rounded corners */
}

.btn-primary:hover {
    background-color: #0069d9;
    /* blue background on hover */
    border-color: #0062cc;
    color: #ffffff;
    /* white text on hover */
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group label {
    flex-basis: 150px;
    margin-right: 10px;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card-container table {
    width: 100%;
    table-layout: fixed;
}

.active-link::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ab4525;
    /* Change this to the color you want */
    border-radius: 50%;
    /* This makes the square a circle */
    margin-left: 5px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #cdf6ce;
    /* Green background */
    border: none;
    /* Remove border */
    color: black;
    /* White text */
    text-align: center;
    /* Centered text */
    text-decoration: none;
    /* Remove underline */
    font-size: 16px;
    /* Increase font size */
    margin: 4px 2px;
    /* Some margin */
    transition-duration: 0.4s;
    /* Transition effects */
    border-radius: 10px;
    /* Rounded corners */
    /* width: 50%;     Half width */
}

.custom-file-upload:hover {
    background-color: #45a049;
    /* Darker green when mouse hovers over */
}